# --- Gradle ---
.gradle/
build/
bin/
out/
.kotlin/
# Рекомендуется оставить обертку Gradle (wrapper), чтобы проект собирался везде
!gradle/wrapper/gradle-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Project Specific (Локальные данные и сейвы) ---
*.json
!settings.gradle.kts
!build.gradle.kts
# Исключаем файлы сохранений и лидербордов, чтобы они не затирали чужой прогресс
save.json
leaderboard.json
datasets/
data-samples/
